<!DOCTYPE html>
<html>


<head>
    <title>Homepage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="cwg.css">
    <script src="cwg.js"></script>    
</head>

<body>
    <div id="header">
        <h1>CREATIVE WRITERS GROUP</h1>
        <div>
            <a href="CWG.html"><button>Homepage</button></a>
            <a href="Books.html"><button>Collections</button></a>
            <a href="editors.html"><button>Editors</button></a>
            <a href="helpinghand.html"><button>Helping Hands</button></a>
            <a href="signup.html"><button>Sign Up</button></a>
            <a href="loginpage.html"><button>Log In</button></a>
        </div>
    </div>
    <div id="min">
        <h1 style="margin-left: 50px;color:grey; font-weight: lighter;">Welcome, to The Creative Writers Group</h1>
        <p style="color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem obcaecati, ipsa quae, magni quia consequuntur deserunt rerum quos nam magnam, sit culpa delectus facilis unde velit odit voluptates! Reiciendis, facere.</p>
    </div>

    <div id="main-div">
        <div class = "fdiv">
            <div>
                <h1 style="color: gray; font-weight: lighter; ">Our Poem of the day</h1>
                <p>Our Poem of the day, writen by one of our Writers</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque explicabo a ad in beatae id debitis assumenda nemo, reprehenderit dolorum tenetur quasi harum aut ipsam? Cupiditate sint alias consequuntur dignissimos.</p>
            </div>
            <img src="textgram_3.png" alt="" srcset="" width="400px" heigh="400px" style="align-self: flex-end; border-radius: 3px;">

        </div>

        <div class = "sdiv">
            <img src="ace.jpg" alt="" srcset="" width="380px" height="400px" style="align-self: flex-end; border-radius: 3px;">
            <div>
                <h1 style="color: gray; font-weight: lighter; ">Our Anthologies</h1>
                <p>Our Poem of the day, writen by one of our Writers</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque explicabo a ad in beatae id debitis assumenda nemo, reprehenderit dolorum tenetur quasi harum aut ipsam? Cupiditate sint alias consequuntur dignissimos.</p>
            </div>

        </div>

        <div class = "fdiv">
            <div>
                <h1 style="color: gray; font-weight: lighter; ">Our Featured Writers</h1>
                <p>Our Poem of the day, writen by one of our Writers</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque explicabo a ad in beatae id debitis assumenda nemo, reprehenderit dolorum tenetur quasi harum aut ipsam? Cupiditate sint alias consequuntur dignissimos.</p>
            </div>
            <img src="textgram_4.png" alt="" srcset="" width="400px" height="400px" style="align-self: flex-end; border-radius: 3px;">

        </div>

        <div class = "sdiv">
            <img src="textgram_1.png" alt="" srcset="" width="400px" height="400px" style="align-self: flex-end; border-radius: 3px;">
            <div>
                <h1 style="color: gray; font-weight: lighter; ">Short Stories</h1>
                <p>Follow the short stories written by our writers</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque explicabo a ad in beatae id debitis assumenda nemo, reprehenderit dolorum tenetur quasi harum aut ipsam? Cupiditate sint alias consequuntur dignissimos.</p>
            </div>

        </div>

        <div class = "fdiv">
            <div>
                <h1 style="color: gray; font-weight: lighter; ">Our Featured Writers</h1>
                <p>Our Poem of the day, writen by one of our Writers</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque explicabo a ad in beatae id debitis assumenda nemo, reprehenderit dolorum tenetur quasi harum aut ipsam? Cupiditate sint alias consequuntur dignissimos.</p>
            </div>
            <img src="textgram_9.jpg" alt="" srcset="" width="400px" height="400px" style="align-self: flex-end; border-radius: 3px;">

        </div>

    </div>

    <div id = "last-div">
        <h1 style="color: white; font-weight: lighter;">Join our community and let's take you on a journey to beign an amazing writer</h1>
        <button>Sign Up</button>
    </div>

    <div id = "footer">
        <div>
            <h3 style="color: grey; font-weight: lighter; margin-left: 30px;">Contacts</h3>
            <ul style="color: grey;">
                <li>Whatsapp</li>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>
        </div>
        <div style="align-self: flex-end;">
            <h3 style="color: grey; font-weight: lighter; margin-left: 30px;">Copyright</h3>
            <p style="color: grey;">Copyright CWG 2020</p>
        </div>
        

    </div>
</body>


















































































































































