<!DOCTYPE html>
<html>

<head>
    <title>HELPING HANDS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="helpinghand.css">
</head>

<body>
    <div id="header">
        <a href="CWG.html"><button>Homepage</button></a>
        <a href="Books.html"><button>Collections</button></a>
        <a href="editors.html"><button>Editors</button></a>
        <a href="helpinghand.html"><button>Helping Hands</button></a>
        <a href="signup.html"><button>Sign Up</button></a>
        <a href="loginpage.html"><button>Log In</button></a>
    </div>

    <div class="container">
        <h1 style="margin-left: 10px;">Here at CWG we offer various assistance to people going through all form of Emotinal Trauma</h1>
        <button>Click Here to get help</button>
    </div>


</body>



</html>