<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="login.css">
    <title>Log in</title>
    <meta charset="utf-8">
</head>

<body>
    <div id="header">
        <a href="CWG.html"><button>Homepage</button></a>
        <a href="Books.html"><button>Collections</button></a>
        <a href="editors.html"><button>Editors</button></a>
        <a href="helpinghand.html"><button>Helping Hands</button></a>
        <a href="signup.html"><button>Sign Up</button></a>
        <a href="loginpage.html"><button>Log In</button></a>
    </div>
   
</body>

<div id="container">
    <div id="welcome">
        <h1>Welcome to CWG</h1>
        <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga nulla nihil, velit quia magni officiis inventore quos! Assumenda nihil, sed, quia officiis deserunt nostrum sint optio recusandae placeat quam dolorum.</h4>
    </div>

    <div id="signup">
        <form>
    
            <h2>Email</h2>
            <input type="email" name="Email" id="signin" placeholder="example@gmail.com" , required>
            <h2>Password</h2>
            <input type="password" name="password" id="signin" required placeholder="***********">
            <p></p>
            <button style="align-self: center">Log in</button>
        </form>
        
        <p>Don't have an account,click <a href="signup.html" style="color:grey">here</a> to sign up</p>
    </div>
</div>

</html>














